#title {
  font-family: fantasy;
  text-align: center;
  padding-left: 15px;
}

#tribute-link {
  padding-left: 15px;
  padding-bottom: 10px;
}
#img-div {
  padding-left: 15px;
}

#img-div2 {
  padding-left: 15px;
}

.border {
  border-width: thin;
  border-style: solid;
  border-radius: 5px 20px 5px 20px;
}

.background {
  background-image: url("steel_bg.jpg");
}

.margin {
  margin: 15px;
}

.color {
   background-color: white;
}
